# If you want to add a file to this repository use:
# git add -f file
/*

# Hack to whitelist sublime text.
!.config/
.config/*
!.config/sublime-text-3/
.config/sublime-text-3/*
!.config/sublime-text-3/Packages/
.config/sublime-text-3/Packages/*
!.config/sublime-text-3/Packages/User/

Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/